
.newTweet {
  margin: 1.5em;
  padding: 0 0.5em;
  background-color: #eee;
}

section.newTweet h2 {
  margin-bottom: 0.5em;
  border-bottom: solid .8px;
}

section.newTweet textarea {
  height: 45px;
}

.counter {
 float: right;
}

input {
  align: left;
}

textarea {
  position: relative;
  width: 100%;
}